@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* CSS RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  outline: 1px solid lime;
  /* background-color: hsla(0, 100%, 50%, 0.01); */
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  font: inherit;
}
button:active {
  animation: blurButton 0.5s;
}
@keyframes blurButton {
  50% {
    filter: blur(1px);
    transform: scale(1.05);
  }
  100% {
    filter: blur(0px);
  }
}
button:hover {
  background-color: transparent;
  color: var(--TEXT-COLOR);
  transition: all 0.3s;
}
/*VARIABLES*/
:root {
  /*Colors*/
  --ANCHOR-TEXT-COLOR: #e5e5e5;
  --ASIDE-BG-COLOR: #e5e5e5;
  --BG-COLOR: #000000;
  --BUTTON-BG-COLOR: #fca311;
  --BUTTON-SHADOW-COLOR: rgb(194, 194, 194);
  --BUTTON-TEXT-COLOR: #000000;
  --LINK-COLOR: #99b2dd;
  --PLACEHOLDER-COLOR: hsl(0, 0%, 80%);
  --SECTION-BG-COLOR: #14213d;
  --TEXT-COLOR: #ffffff;
  --TITLE-COLOR: #fca311;
}

/*GENERAL STYLES*/
body {
  font-family: "Roboto", sans-serif;
}
/* HEADER SECTION STYLES */

/* FOOTER SECTION STYLES */
.faqFooter__label {
  left: -100000px;
  position: absolute;
}
.faqFooter {
  background-color: var(--SECTION-BG-COLOR);
  color: var(--TEXT-COLOR);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 10px 100px;
  position: relative;
  grid-template-areas:
    "t t t t . ."
    "p p q q q q"
    "p p d d d d"
    "p p d d d d"
    "p p . e e e"
    "p p . . s s";
}
.faqFooter__title {
  grid-area: t;
}
.faqFooter__para {
  grid-area: p;
}
.faqFooter__query {
  grid-area: q;
}
.faqFooter__description {
  grid-area: d;
}
.faqFooter__email {
  grid-area: e;
}
.faqFooter__submit {
  grid-area: s;
}
.faqFooter__title,
.faqFooter__para,
.faqFooter__query,
.faqFooter__description,
.faqFooter__email,
.faqFooter__submit {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid white;
  color: var(--TEXT-COLOR);
  outline: none;
  padding: 0.3rem;
  font-family: inherit;
}
.faqFooter :is(input::placeholder, textarea::placeholder) {
  color: var(--PLACEHOLDER-COLOR);
}
.faqFooter :is(input:focus, textarea:focus) {
  border: 3px solid var(--BUTTON-BG-COLOR);
}
.faqFooter__submit {
  background-color: var(--BUTTON-BG-COLOR);
  border-color: var(--BUTTON-BG-COLOR);
  color: black;
  cursor: pointer;
}
