/* CSS RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 1px solid lime; */
  /* background-color: hsla(0, 100%, 50%, 0.01); */
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  font: inherit;
}

/*VARIABLES*/
:root {
  /*Colors*/
  --BG-COLOR: black;
}

/*GENERAL STYLES*/
