@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* || CSS RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 1px solid lime; */
  /* background-color: hsla(0, 100%, 50%, 0.1); */
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  font: inherit;
}

/* VARIABLES */
:root {
  /* COLORS */
  --ANCHOR-TEXT-COLOR: #e5e5e5;
  --ASIDE-BG-COLOR: #e5e5e5;
  --BG-COLOR: #000000;
  --BUTTON-BG-COLOR: #fca311;
  --BUTTON-SHADOW-COLOR: rgb(194, 194, 194);
  --BUTTON-TEXT-COLOR: #000000;
  --LINK-COLOR: blue;
  --SECTION-BG-COLOR: #14213d;
  --TEXT-COLOR: #ffffff;
  --TITLE-COLOR: #fca311;

  /* STYLES */
  --BUTTON-BORDER: 3px solid var(--BUTTON-BG-COLOR);
  --BUTTON-PADDING: 0.5rem;
  --BUTTON-SHADOW: 0 0 10px 1px var(--BUTTON-SHADOW-COLOR);
  --FF: "Roboto", sans-serif;
}

/* || UTILITY CLASSES */
.text-large{
  font-size: 1.3rem;
}
.line-30{
  line-height: 30px;
}
.text-justify{
  text-align: justify;
}
.nowrap {
  white-space: nowrap;
}
.btn {
  background-color: var(--BUTTON-BG-COLOR);
  border-radius: 100px;
  border: var(--BUTTON-BORDER);
  color: var(--BUTTON-TEXT-COLOR);
  cursor: pointer;
  outline: transparent;
  padding: var(--BUTTON-PADDING);
}
.btn:hover {
  background-color: transparent;
  border: var(--BUTTON-BORDER);
  color: var(--TEXT-COLOR);
  transition: all 0.3s;
}
.link {
  color: var(--LINK-COLOR);
  font-size: 1.1rem;
  text-decoration: none;
}
.link:hover {
  filter: brightness(70%);
  text-decoration: underline;
}

.toc__anchor {
  color: var(--ANCHOR-TEXT-COLOR);
  /* font-size: 1.3rem; */
  text-decoration: none;
}
.toc__anchor:hover {
  text-decoration: underline;
}

/* || GENERAL STYLES */
body {
  background-color: var(--BG-COLOR);
  color: var(--TEXT-COLOR);
  font-family: var(--FF);
  font-size: 1rem;
}

/* HEADER SECTION STYLES*/
.header {
  padding-top: 12rem;
}
.header__topBar {
  background-color: var(--BG-COLOR);
  border-bottom: var(--BUTTON-BORDER);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 0rem 1rem 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header_slogan {
  grid-area: 2/1/3/2;
}
.btnContainer {
  column-gap: 10px;
  display: grid;
  grid-area: 1/2/3/3;
  grid-template-columns: repeat(4, 1fr);
  place-items: center stretch;
  position: relative;
}
.btnContainer__title {
  left: -1000000px;
  position: absolute;
}
.btn--stretch {
  justify-self: stretch;
  width: 100%;
}
.header__description {
  font-size: 2rem;
  margin: 1rem 2rem;
  text-align: justify;
  text-indent: 100px;
}
/* TABLE OF CONTENTS STYLES*/
.toc__list {
  line-height: 30px;
  list-style-position: inside;
  margin: 2rem;
}
.toc__list li::marker {
  font-size: 1.3rem;
}
.toc {
  background-color: var(--SECTION-BG-COLOR);
  padding: 1rem 2rem;
}

/* HOMEPAGE ARTICLE STYLES */
.homepageArticle {
  margin: 1rem;
  padding: 1rem;
  position: relative;
}
.homepageArticle__title {
  left: -1000000px;
  position: absolute;
}
.section {
  background-color: var(--SECTION-BG-COLOR);
  margin: 1rem 0;
  padding: 1rem;
}
.section__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0rem 1rem;
}
.section__para {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  line-height: 30px;
  padding: 0.5rem 1rem;
  text-align: justify;
}
.section__figure {
  float: left;
  margin-right: 1.5rem;
  padding: 1rem;
  width: fit-content;
}
.section__img {
  height: 250px;
  width: 250px;
}
.section__list {
  font-size: 1.2rem;
  line-height: 30px;
  list-style-position: inside;
  padding: 0.5rem 1rem 0.5rem;
  text-align: justify;
}
.section__list li {
  margin: 1rem 0rem;
}
.subSection__title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding: 0rem 1rem;
}
.section__list--lineHeight {
  font-size: 1.2rem;
  line-height: 30px;
  list-style-position: inside;
  padding: 0.5rem 1rem 0.5rem;
  text-align: justify;
}

/* FOOTER SECTION STYLES */
